@import '../assets/style/green.less';
.menu-a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    .CodeMirror{
        height: auto;
    }
}
table {
    margin-top: 20px;
    margin-bottom:20px;
    thead{
        border-top: 1px solid #eaeaea;
    }
    tr{
        border-bottom: 1px solid #eaeaea;
        border-left: 1px solid #eaeaea;
    }
    tr:nth-child(odd){
        background: #fff;
    }
    tr:nth-child(even){
        background: #f1f1f1;
    }
    td, th {
        padding: 8px;
        border-right: 1px solid #eaeaea;
    }
}